
.homepage-container {
    height: 100vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

} 

.homepage-container .input-container input {
    font-size: 25px;
    display: block ;
    padding: 10px 18px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
}

.homepage-container .input-container .email:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(15, 31, 210);
    color: rgb(0, 0, 0);
    
}

.homepage-container .input-container .roomid:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(15, 31, 210);
    color: rgb(0, 0, 0);
    
}

.homepage-container .input-container button {
    font-size: 25px;
    padding: 10px 18px;
    margin: 10px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 15px ;
    cursor: pointer;
    cursor: pointer;
}
.homepage-container .input-container button:hover {
    background-color: rgb(128, 67, 207);
    color: white;
}